In [2]:
import pandas as pd
import numpy as np

In [9]:
df = pd.DataFrame({"id":[1001,1002,1003,1004,1005,1006],
                   "date":pd.date_range('20130102', periods=6),
                   "city":['Beijing ', 'SH', ' guangzhou  ', 'Shenzhen', 'shanghai', 'BEIJING '],
                   "age":[23,44,54,32,34,32],
                   "category":['100-A','100-B','110-A','110-C','210-A','130-F'],
                   "price":[1200,np.nan,2133,5433,np.nan,4432]},
                   columns =['id','date','city','category','age','price'])
df

     id       date          city category  age   price
0  1001 2013-01-02      Beijing     100-A   23  1200.0
1  1002 2013-01-03            SH    100-B   44     NaN
2  1003 2013-01-04   guangzhou      110-A   54  2133.0
3  1004 2013-01-05      Shenzhen    110-C   32  5433.0
4  1005 2013-01-06      shanghai    210-A   34     NaN
5  1006 2013-01-07      BEIJING     130-F   32  4432.0

In [6]:
df['city']=df['city'].map(str.strip)

In [10]:
df['city']=str.strip(df['city'])

TypeError: descriptor 'strip' requires a 'str' object but received a 'Series'

为啥同样是函数，np.sign()就可直接把Series作为参数，而str.strip只能作为map的函数参数传入？

In [11]:
np.sign(df['age']) #

0    1
1    1
2    1
3    1
4    1
5    1
Name: age, dtype: int64

In [12]:
df['age'].map(np.sign)

0    1
1    1
2    1
3    1
4    1
5    1
Name: age, dtype: int64

In [8]:
df.values

array([[1001, Timestamp('2013-01-02 00:00:00'), 'Bei jing', '100-A', 23,
        1200.0],
       [1002, Timestamp('2013-01-03 00:00:00'), 'SH', '100-B', 44, nan],
       [1003, Timestamp('2013-01-04 00:00:00'), 'guangzhou', '110-A', 54,
        2133.0],
       [1004, Timestamp('2013-01-05 00:00:00'), 'Shenzhen', '110-C', 32,
        5433.0],
       [1005, Timestamp('2013-01-06 00:00:00'), 'shanghai', '210-A', 34,
        nan],
       [1006, Timestamp('2013-01-07 00:00:00'), 'BEIJING', '130-F', 32,
        4432.0]], dtype=object)

In [13]:

#city列大小写转换
 
df['city']=df['city'].str.lower()

In [14]:
df['city']

0        beijing
1              sh
2     guangzhou
3        shenzhen
4        shanghai
5        beijing
Name: city, dtype: object

In [16]:
#city列大小写转换
df['city']=df['city'].map(str.lower)
df['city']

0        beijing
1              sh
2     guangzhou
3        shenzhen
4        shanghai
5        beijing
Name: city, dtype: object

In [18]:
[True, False, True].index(True)

0